temp/*

**/__pycache__/*

reference_code/mnist_minimal_example/images/*
reference_code/mnist_minimal_example/output/*

rotated_cinn/trained_models/*
rotated_cinn/analysis/*
rotated_cinn/datasets/*.pt

**/MNIST/raw/*
